@font-face { /*tipo de fuente descargada*/
    font-family: 'BebasNue';
    src: url(./fonts/BebasNeue-Regular.ttf);
}
@font-face { /*tipo de fuente descargada*/
    font-family: 'Staat';
    src: url(./fonts/Staatliches-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    background: rgb(69,0,92);
    background: linear-gradient(90deg, rgba(69,0,92,1) 14%, rgba(167,14,85,1) 86%);
}

.header{
    background: rgb(46,6,60);
    background: linear-gradient(90deg, rgba(46,6,60,1) 27%, rgba(45,12,15,1) 84%);  
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: space-around;     
}
.header img {
    display: flex;
    width: 150px;
}
.navigation{
    display: inline-block; 
    justify-content: space-around; 
    align-items: center; 
}
.navigation li{
    list-style: none; 
    display: inline-block; 
    margin: 0px 25px; 
    color: whitesmoke; 
    font-family: 'Staat'; 
    font-weight: 400; 
    font-size: 1em; 
}
main{
    width: 100%;
    display: flex;   
}
.section-principal{
    width: 100%;
    background: rgb(69,0,92);
    background: linear-gradient(90deg, rgba(69,0,92,1) 14%, rgba(167,14,85,1) 86%);    
}
.container-info-slogan{
    width: 100%;
    display: flex; 
    justify-content: space-around;
}
.container-img{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.container-img img{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.container-text-slogan{
    width: 50%;
    color: whitesmoke;
    font-family: 'Staat';
    display: inline-block;
    justify-content: space-around; 
    align-items: center;
    flex-direction: column; 
    font-size: 1.8em; 
    margin-top: 10%;
}
.section-secundaria{ /*Sección 2 donde se detallada acerca de las ventajas y como trabajamos en la empresa*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(69,0,92);
    background: linear-gradient(90deg, rgba(69,0,92,1) 14%, rgba(167,14,85,1) 86%);
}
.section-secundaria h2{/* edición del texto "Nuestras Ventajas"*/
    color: white;
    font-size: 4em;
    font-family: 'Staat';
    font-weight: 1000;
}
.container-icons{/*Contenedor del bloque donde estan los iconos y texto*/
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.container-icons-info img{/*contenedor donde estan las imagenes del container-icons*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    margin: 0px 30px;
}
.container-icons-info p{/*contenedor donde se configuran los textos del container-icons*/
    color: white;
    font-size: 1rem;
}
.container-how-we-work h2{/*contenedor donde se configuran los h2 del container-how-we-work*/
    color: white;
    font-size: 4em;
    font-family: 'Staat';
    font-weight: 1000;
    display: flex;
    justify-content: center;
}
.container-how-we-work-info{/*contenedor donde se configura el  container-how-we-work*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-how-we-work-info p { /*contenedor donde se configuran los párrafos del  container-how-we-work*/
    color: white;
    font-size: 1em;
}
/*mediaqueries*//*mediaqueries*//*mediaqueries*//*mediaqueries*/
/*mediaqueries*//*mediaqueries*//*mediaqueries*//*mediaqueries*/
/*mediaqueries*//*mediaqueries*//*mediaqueries*//*mediaqueries*/
/*mediaqueries*//*mediaqueries*//*mediaqueries*//*mediaqueries*/

/* @media (max-width: 320px){
    .navigation li{
        font-size: 0.7em
    }
    .header img{
        width: 110px;
    }
    .container-img img{
        margin-top: 45px;
        width: 100%;
    }
    .container-text-slogan{
        margin-top: 45px;
        font-size: 0.8em;
    }
    .section-secundaria h2{
        font-size: 1.5em;
    }
    .container-icons-info img{
        width: 2.6em
    }
    .container-icons-info p{
        font-size: 0.4em;
    }
    .container-how-we-work h2{
        font-size: 1.5em;
    }
    .container-how-we-work-info p {
        font-size: 0.4em;
    }
 } */
 @media (max-width: 184px){
    .navigation li{
        font-size: 0.5em;
        margin-right: 45px;
    }
    .header img{
        margin-left: 35px;
        width: 65px;
    }
    .container-img img{
        margin-top: 5px;
        width: 100%;
    }
    .container-text-slogan{
        margin-top: 25px;
        font-size: 0.4em;
    }
    .section-secundaria h2{
        font-size: 1.4em;
    }
    .container-icons-info img{
        margin-left: 45px;
        margin-right: 45px;
        width: 2.7em
    }
    .container-icons-info p{
        font-size: 0.4em;
    }
    .container-how-we-work h2{
        font-size: 1.4em;
    }
    .container-how-we-work-info p {
        margin-right: 9px;
        margin-left: 10px;
        font-size: 0.4em;
    }
 }